/* zero-out default styles */
body,table,
h1,h2,h3,h4,h5,h6
p,form,
fieldset,legend,
ol,ul,li,dl,dt,dd{margin:0;padding:0;border:0;font-weight:normal;list-style:none;}
img{vertical-align:middle;}
a{cursor:pointer;text-decoration:none;color:inherit;}
a img{border:0;}
input,select,textarea{font:inherit;}
input[type="password"],
input[type="text"]{margin:0;}
table{border:0;border-collapse:collapse;}
table td{padding:0;font-size:1em;vertical-align:top;}
html{background:#fff;}

/* make body a sane containter */
html { overflow-y: scroll; height: 100%; }
body { min-width: 900px; position: relative; min-height: 100%; }


/* art starts here */

body { background: #222f41 url(bg.png) center top; font-family: Arial, Tahoma, sans-serif; font-size: 14px; }

#common-main-wrapper { position: relative; z-index: 10; width: 900px; margin: 0 auto; }

#header { position: relative; height: 84px; }
#header .logo { position: absolute; bottom: -15px; left: -12px; width: 113px; height: 64px; }
#header .logo i { position: absolute; left: 10px; top: 10px; width: 93px; height: 44px; background: url(common.png) 0 0 no-repeat; text-indent: -1000px; }
#header .logo:hover i { background-position: 0 -50px; }
#header .logo:active i { background-position: 0 -100px; }
#header .menu { position: absolute; bottom: -3px; right: 0; color: #67778e; }
#header .menu .item { display: inline; margin-left: 28px; }
#header .menu .item .link:hover { color: #4e91f5; }


#photo-set-list { margin-top: 41px; }
#photo-set-list .item { margin: 0 30px 20px 0; }
#photo-set-list .photo-set { display: block; position: relative; width: 280px; height: 212px; }
#photo-set-list .photo-set .photo { display: block; width: 280px; height: 180px; border-radius: 2px; box-shadow: 0 1px 4px rgba(0,0,0,0.6), inset 0 0 1px rgba(200,200,200,0.4); }
#photo-set-list .photo-set .count { position: absolute; right: 0; bottom: 0; height: 16px; padding: 0 9px; border-radius: 8px; font-size: 11px; line-height: 16px; color: #677282; background: url(common.png) 100px 0; box-shadow: 0 1px 0 rgba(255,255,255,0.06), inset 0 0 0 1px rgba(15,25,38,0.66) }


#index-page #header .logo { cursor: default; }


#common-outerspace-wrapper { position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 1; }
#common-outerspace-wrapper .kinda-main-wrapper { position: relative; width: 900px; margin: 0 auto; }

#logo-light { position: absolute; top: 0; left: -250px; width: 605px; height: 368px; background: url(logo-light.png) no-repeat 0 0; opacity: 0.21 }



/* markuper helpers */
html.model #common-main-wrapper { background-color: rgba(255,255,255,0.1); }
html.model #header { background-color: rgba(0,255,0,0.1); }