/* zero-out default styles */
body,table,
h1,h2,h3,h4,h5,h6
p,form,
fieldset,legend,
ol,ul,li,dl,dt,dd{margin:0;padding:0;border:0;font-weight:normal;list-style:none;}
img{vertical-align:middle;}
a{cursor:pointer;text-decoration:none;color:inherit;}
a img{border:0;}
input,select,textarea{font:inherit;}
input[type="password"],
input[type="text"]{margin:0;}
table{border:0;border-collapse:collapse;}
table td{padding:0;font-size:1em;vertical-align:top;}
html{background:#fff;}

/* make body a sane containter */
html { overflow-y: scroll; height: 100%; }
body { min-width: 940px; position: relative; min-height: 100%; }


/* art starts here */

body { background: #222f41 url(bg.png) center top; font-family: Arial, Tahoma, sans-serif; font-size: 14px; }

#common-main-wrapper { position: relative; z-index: 10; width: 900px; margin: 0 auto; }

#header { position: relative; height: 84px; }
#header .logo { position: absolute; bottom: -15px; left: -12px; width: 113px; height: 66px; }
#header .logo i { position: absolute; left: 10px; top: 10px; width: 97px; height: 44px; background: url(common.png) 0 0 no-repeat; text-indent: -1000px; }
#header .logo:hover i { background-position: 0 -50px; }
#header .logo:active i { background-position: 0 -100px; }
#header .menu { position: absolute; bottom: -2px; right: 0; color: #67778e; }
#header .menu .item { display: inline; margin-left: 22px; }
#header .menu .item .link:hover { color: #4e91f5; }
#header .menu.section { right: 254px; }


#photo-set-list { margin: 31px -30px 0 -15px; }
#photo-set-list .item { float: left; }
#photo-set-list .photo-set { display: block; position: relative; width: 280px; height: 212px; padding: 10px 15px 11px; transition: opacity 0.15s; -webkit-transition: opacity 0.15s; -moz-transition: opacity 0.15s; -o-transition: opacity 0.15s; }
#photo-set-list:hover .photo-set { opacity: 0.45; }
#photo-set-list .photo-set:hover { opacity: 1; }
#photo-set-list .photo-set .photo { display: block; width: 280px; height: 180px; -moz-border-radius: 2px; border-radius: 2px; box-shadow: 0 1px 4px rgba(0,0,0,0.6), inset 0 0 1px rgba(200,200,200,0.6); -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.6), inset 0 0 1px rgba(200,200,200,0.6); }
#photo-set-list .photo-set .name { position: absolute; left: 15px; bottom: 12px; font-size: 14px; line-height: 18px; color: #67778e; }
#photo-set-list .photo-set:hover .name { color: #4e91f5; }
#photo-set-list .photo-set .count { position: absolute; right: 15px; bottom: 12px; min-width: 10px; height: 16px; padding: 0 8px; border-radius: 8px; -moz-border-radius: 8px; font-size: 11px; line-height: 16px; color: #677282; text-align: center; background: url(common.png) 100px 0; box-shadow: 0 1px 0 rgba(255,255,255,0.06), inset 0 0 0 1px rgba(15,25,38,0.66); -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.06), inset 0 0 0 1px rgba(15,25,38,0.66); }
#photo-set-list .photo-set:hover .count { background: #4e91f5; box-shadow: none; -moz-box-shadow: none; color: #000; }

#thumbs-list { margin: 36px -6px 0 -6px; overflow: hidden; }
#thumbs-list .item { float: left; }
#thumbs-list .photo-preview { display: block; position: relative; width: 142px; height: 100px; padding: 5px 5px 5px 5px; transition: opacity 0.15s; -webkit-transition: opacity 0.15s; -moz-transition: opacity 0.15s; -o-transition: opacity 0.15s; }
#thumbs-list:hover .photo-preview { opacity: 0.45; }
#thumbs-list .photo-preview:hover { opacity: 1; }
#thumbs-list .photo-preview .photo { display: block; width: 142px; height: 100px; -moz-border-radius: 2px; border-radius: 2px; box-shadow: 0 1px 4px rgba(0,0,0,0.6), inset 0 0 1px rgba(200,200,200,0.6); -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.6), inset 0 0 1px rgba(200,200,200,0.6); }

#controls { position: relative; height: 20px; margin: 21px 0 0; }
#controls .caption { position: absolute; left: 300px; right: 300px; text-align: center; font-size: 14px; color: #677282; }
#controls .playback { position: absolute; left: 0; top: -4px; }
#controls .playback .prev { display: inline-block; width: 18px; height: 27px; padding-right: 4px; background: url(common.png) no-repeat -100px -125px; }
#controls .playback .prev:hover { background: url(common.png) no-repeat -150px -125px; }
#controls .playback .play { display: inline-block; width: 27px; height: 27px; background: url(common.png) no-repeat -100px -25px; }
#controls .playback .play:hover { background: url(common.png) no-repeat -150px -25px; }
#controls .playback .play.playing { background: url(common.png) no-repeat -100px -75px; }
#controls .playback .play.playing:hover { background: url(common.png) no-repeat -150px -75px; }
#controls .playback .next { display: inline-block; width: 18px; height: 27px; padding-left: 4px; background: url(common.png) no-repeat -100px -175px; }
#controls .playback .next:hover { background: url(common.png) no-repeat -150px -175px; }
#controls .switch-view { position: absolute; right: 0; top: 0; width: 54px; height: 22px; background: url(common.png) no-repeat -200px 0; }
#controls .switch-view:hover { background: url(common.png) no-repeat -275px 0; }
#controls .switch-view.photo { background: url(common.png) no-repeat -200px -25px; }
#controls .switch-view.photo:hover { background: url(common.png) no-repeat -275px -25px; }


#big-photo { margin: 36px -5px 0 -5px; padding: 5px; overflow: hidden; }
#big-photo .photo { display: block; width: 900px; height: 598px; -moz-border-radius: 2px; border-radius: 2px; box-shadow: 0 1px 4px rgba(0,0,0,0.6), inset 0 0 1px rgba(200,200,200,0.6); -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.6), inset 0 0 1px rgba(200,200,200,0.6); }


#index-page #header .logo { cursor: default; }


#common-outerspace-wrapper { overflow: hidden; position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 1; }
#common-outerspace-wrapper .kinda-main-wrapper { position: relative; width: 900px; margin: 0 auto; }

#logo-light { position: absolute; top: 0; left: -260px; width: 605px; height: 368px; background: url(logo-light.png) no-repeat 0 0; opacity: 0.12 }



/* markuper helpers */
#markup-model { display: none; position: absolute; left: -350px; top: 0; z-index: 100px; }
html.model #markup-model { display: block; }
html.model #common-outerspace-wrapper { z-index: 1000; }